/* src/components/Budget/BudgetChart.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");

.bc-wrapper {
  margin: auto;
  /* מונע הצפה של הכרטיס */
  max-width: 100px;
}

.bc-wrapper svg {
  display: block;
}

.bc-label {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1rem;
  fill: #000;
}

.bc-loading {
  text-align: center;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}