.homePage {
  min-height: 100vh;
  width: 100%;
  background: url("../../assets/images/main-bg.png") no-repeat center center;
  background-size: cover;
  background-color: #fff0f5;
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 70px 10px 10px 50px;
  flex: 1;
}

.left {
  flex: 1;
  padding-left: 100px;
  padding-right: 40px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: #f4a8b3;
  font-size: 48px;
  font-weight: bold;
}

.left p {
  color: #555;
  margin: 20px 0;
  font-size: 18px;
  max-width: 400px;
}

.button {
  background-color: #f4a8b3;
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e38aa3;
}

.right img {
  transform: translateX(-60px);
}
