.exportBtn {
  background-color: #f48fb1;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin: 1.5rem auto 0;
  display: block;
  transition: background-color 0.3s ease;
  text-align: center;
}

.exportBtn:hover {
  background-color: #ec407a;
}
