.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; /* optional: reduce padding */
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #333;
  z-index: 2;
}
  
  .logo img {
    height: 200px;
    margin-top: 0px;
    padding-left: 1px;
  }
  
  .title {
    font-size: 25px;
    font-weight: bold;
    flex: 1;
    text-align: center;
  }
  
  .authWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #1c1c1c;
    padding-right: 1px;
  }

  .auth {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
  }
  
  .auth a {
    text-decoration: none;
    color: #333;
  }
  
  .auth a:hover {
    color: #f4a8b3;
  }
  
  .authWrapper img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin: 0;
  }

  .authName {
    font-weight: bold;
    font-size: 15px;
    margin: 0;
  }