@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* in PrefForm.module.css */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../assets/images/main-bg.png") no-repeat center center;
  background-size: cover;
  background-color: #fff0f5;
  padding: 1rem;
  box-sizing: border-box;
  background-attachment: fixed;
  overflow-y: auto !important;
}

.formGroup{
  margin-bottom: 1.5rem;
}

.formGroup input[type="date"],
.formGroup select,
.formGroup input[type="text"] {
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fff;
  box-sizing: border-box;
  appearance: none; /* remove default dropdown icon in Safari */
}

.formGroup input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.formGroup input:focus {
  border-color: #888;
  outline: none;
}

.formContainer {
  width: 100%;
  max-width: 700px;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.formContainer h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #000;
  text-align: center;
}

.formContainer p {
  font-size: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #555;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.formGroup select {
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.formGroup select:focus {
  border-color: #888;
  outline: none;
}

.formGroup .fieldError {
  color: #cc3366;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  padding-left: 0.25rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.buttonRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.buttonRow > span:only-child {
  margin-left: auto;
}

.buttonRight {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.navButton {
  background-color: #f4a8b3;
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #e38aa3;
}

.formGroup textarea {
  width: 100%;
  padding: 0.6rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s ease;
  resize: none;
}

.formGroup textarea:focus {
  border-color: #888;
  outline: none;
}

.partnersRow {
  display: inline-flex;
  gap: 2rem;          
}

.partnerField {
  max-width: none;
  display: flex;
  flex-direction: column;
}

.partnersInput {
  width: 100%; 
  min-width: 300px; 
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.partnersLabel {
  font-weight: 300;
  font-family: 'Rubik', sans-serif;
}

.scrollableFormSection {
  max-width: 1000px;
  height: calc(100vh - 250px); 
  overflow-y: auto;
  padding-right: 4px;  
  overflow-x: hidden;
  scrollbar-width: none;
}