.iconTableDelete {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: var(--wedding-purple);
  transition: color 0.2s, opacity 0.2s;
}

.iconTableDelete:hover {
  color: var(--wedding-pink);
}

.guestPopup {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 10px 14px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-width: 220px;
  font-size: 0.9rem;
}

.guestList {
  list-style: none;
  margin: 8px 0 0 0;
  padding: 0;
}

.guestList li {
  padding: 4px 0;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center; /* vertically center text + icon */
  justify-content: space-between; /* push name left, icon right */
  padding: 0.5rem 1rem; /* vertical + horizontal padding */
  border-bottom: 1px solid #e0e0e0;
}

.guestList li:last-child {
  border-bottom: none;
}

.iconClose {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  size: 48px;
  align-items: center;
  cursor: pointer;
  color: var(--wedding-purple);
  transition: color 0.2s, opacity 0.2s;
}

.iconClose:hover {
  color: var(--wedding-pink);
}

.iconRemove {
  position: absolute;
  right: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  size: 48px;
  align-items: center;
  cursor: pointer;
  color: var(--wedding-purple);
  transition: color 0.2s, opacity 0.2s;
}

.iconRemove:hover {
  color: var(--wedding-pink);
}

.guestPopup h4 {
  margin: 0 0 6px 0;
  font-size: 0.95rem;
  font-weight: 600;
  color: #a26bc9;
}
